@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-md-plus: 54.0625rem; /* 865px */
  --breakpoint-xl-plus: 81.8125rem; /* 1309px */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* track  */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #3b82f6 0%, #3b82f6 50%, #d1d5db 50%);
  background: #d1d5db;
  border-radius: 20px;
  outline: none;
}

/* thump */

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 25px;
  background: #1068f5;
  border-radius: 20%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Increase size on hover */
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

/* Default (Light Mode) */

.slick-dots li button:before {
  color: #3b82f6 !important; /* Tailwind `blue-500` */
  opacity: 0.7;
}

/* Active Dot (Light Mode) */

.slick-dots li.slick-active button:before {
  color: #0000ff !important;
  opacity: 1;
}

/* Dark Mode Dots */

.dark .slick-dots li button:before {
  color: #f3f4f6 !important;
  opacity: 0.7;
  padding-top: 2px;
}

/* Active Dot in Dark Mode */
.dark .slick-dots li.slick-active button:before {
  color: #0000ff !important; /* Tailwind `purple-400` */
  opacity: 1;
  scale: 1.2;
}
